<?xml version="1.0" encoding="UTF-8"?>
                                                              
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
     <pattern>%d{ISO8601} [%4p] %t - %c: %m%n</pattern>
    </encoder>
  </appender>
  
  <appender name="mainlog" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>logs/pong.log</File>
    <encoder>
      <pattern>%d{ISO8601} [%4p] %t - %c: %m%n</pattern>
    </encoder>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/pong.log.%d{yyyy-MM-dd}</fileNamePattern>
      <maxHistory>60</maxHistory>
    </rollingPolicy>
  </appender>
  
  <root level="INFO">
    <appender-ref ref="mainlog" />
    <appender-ref ref="STDOUT" />
  </root>

</configuration>